@{
  Layout = "_Layout";
}

@model MovieRental.Models.Customer

<h2>Add a movie</h2>

<h4>Add a movie to this customer's account: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CustomerId)

    @Html.Label("Select movie")
    @Html.DropDownList("MovieId")

    <input type="submit" value="Save" />
}

<br>
<div id="nav-links">
  <p>@Html.ActionLink("Back to List of Customers", "Index")</p>
</div>