@{
  Layout = "_Layout";
}

@model MovieRental.Models.Customer


<h4>Add a new customer</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.MembershipType)
  @Html.TextBoxFor(model => model.MembershipType)

  <input type="submit" value="Add new Customer" class="btn btn-default" />
}

<br>
<div id="nav-links">
  <p>@Html.ActionLink("Back to List of Customers", "Index")</p>
</div>