@{
  Layout = "_Layout";
}

@using MovieRental.Models
@model MovieRental.Models.Customer

<h2>Customer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.MembershipType): @Html.DisplayFor(model => model.MembershipType)</h3> 

@if(@Model.JoinEntities.Count == 0)
{
  <p>This customer has not rented any movies yet!</p>
}
else
{
  <h4>This customer has the following movies rented out:</h4>
  <ul>
    @foreach(CustomerMovie join in Model.JoinEntities)
    {
      <li>Movies: @join.Movie.Title</li>
      @using (Html.BeginForm("DeleteJoin", "Customers"))
      {
        @Html.Hidden("joinId", @join.CustomerMovieId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

<br>
<div id="nav-links">
  <p>@Html.ActionLink("Edit Customer", "Edit", new { id = Model.CustomerId }) | @Html.ActionLink("Add a Movie", "AddMovie", new { id = Model.CustomerId }) | @Html.ActionLink("Delete Customer", "Delete", new { id = Model.CustomerId })</p>
  <p>@Html.ActionLink("Back to List of Customers", "Index")</p>
</div>