@{
  Layout = "_Layout";
}

@model MovieRental.Models.Customer

<h2>Edit</h2>

<h4>Edit this customer's information: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CustomerId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.MembershipType)
  @Html.EditorFor(model => model.MembershipType)
  
  <input type="submit" value="Save" />
}

<br>
<div id="nav-links">
  <p>@Html.ActionLink("Back To List of Customers", "Index")</p>
</div>